/* GENERIC FORM */
form {
    font-size: 0.6rem;
}

label:hover {
    cursor: pointer;
}

.button-center {
    margin: 0 auto;
}

fieldset {
    background-color: var(--secundary_blue);
}

fieldset fieldset {
    background-color: ghostwhite;
}

legend {
    background-color: ghostwhite;
    border: 1px solid black;
    padding: 2px 5px;
}

.div_gen_pass {
    align-items: center;
    display: flex;
    justify-content: center;
}

#form-add fieldset {
    margin: 5px 0;
}

#form-add input {
    height: 24px;
}

select {
    font-weight: bold;
    height: 30px;
}
select:focus {
    outline: none;
}
option {
    *font-weight: bold;
}

::placeholder {
    color: rgb(50,50,50);
    font-size: 0.7rem;
    text-transform: uppercase;
    text-align: center;
}

.error::placeholder {
    color: white;
}

.text-error {
    color: red;
}
.text-green {
    color: rgba(0, 200, 0);
}

span.text-error {
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
}

.input-error {
    background-color: rgba(255, 0, 0, 0.4);
    border: 2px solid red;
    color: white;
}
.input-correct {
    background-color: rgba(0, 200, 0, 0.4);
    border: 2px solid yellowgreen;
    color: white;
}

/*  */
.div_select {
    display: flex;
    flex-flow: column;
    font-weight: bold;
    margin: 6px 0;
    row-gap: 2px;
}
.div_select select, .div_select input {
    margin: 0 auto;
}

.div_select select {
    width: 90%;
}

.div_select input {
    width: 86%;
}

.div_pass {
    align-items: center;
    column-gap: 5px;
    display: flex;
}

/* FIELDSET GEN_PASS */
fieldset.gen_pass {
    background-color: lightgray;
    display: flex;
    flex-flow: column;
    row-gap: 10px;
}
fieldset.gen_pass label {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
fieldset input[type="number"] {
    width: 50px;
}


/* STRONG PASSWORD */
.spacial_message {
    align-items: center;
    display: flex;
    height: 18px;
}
div.spacial_message span.dangerous, div.spacial_message span.weak, div.spacial_message span.normal, div.spacial_message span.strong, div.spacial_message span.strongest {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
div.spacial_message span.dangerous, div.spacial_message span.strongest {
    text-transform: uppercase;
}
div.spacial_message span.weak, div.spacial_message span.normal, div.spacial_message span.strong {
    text-transform: capitalize;
}
div.spacial_message span.dangerous {
    color: red;
}
div.spacial_message span.weak {
    color: orangered;
}
div.spacial_message span.normal {
    color: orange;
}
div.spacial_message span.strong {
    color: yellowgreen;
}
div.spacial_message span.strongest {
    color: limegreen;
}

/* EYE FORM CHECKBOX */
.info {
    margin-left: 15px;
    align-items: center;
    *column-gap: 10px;
    display: flex;
}

.eye input[type='checkbox'] {
    display: none;
}

.eye_slash input[type='checkbox'] {
    display: none;
}

.eye, .eye_slash {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 25px;
    width: 25px;
}

.eye {
    background-image: url(../img/icon/eye.svg);
}

.eye_slash {
    background-image: url(../img/icon/eye_slash.svg);
}

.eye, .eye_slash {
    cursor: pointer;
}


@media only screen and (min-width: 550px) {
    header .logo {
        width: 200px;
    }
    .logo {
        width: 250px;
    }
    form, span.text-error, ::placeholder {
        font-size: 1rem;
    }
    
}

@media only screen and (min-width: 700px) {
    .div_select {
        align-items: center;
        column-gap: 15px;
        display: grid;
        grid-template-columns: 130px auto auto;
        justify-content: start;
    }
    .div_select select {
        width: 200px;
    }
    .div_select input {
        width: 192px;
    }
    .div_pass {
        column-gap: 10px;
    }
    .div_gen_pass {
        justify-content: start;
    }
}

@media only screen and (min-width: 1000px) {
    fieldset.password input[type="text"], fieldset.password input[type="password"] {
        width: 400px;
    }
}

@media only screen and (min-width: 1500px) {
    fieldset.password input[type="text"], fieldset.password input[type="password"] {
        width: 750px;
    }
}