:root{
    --primary_color: orange;
}
body {
    margin: 0;
}

.hidden {
    display: none;
}

.login_screen {
    height: 100vh;
    width: 100%;
    background-image: url(../img/matrix.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
}

#login_screen > div {
    flex-grow: 1;
}
#login_screen .form_login {
    flex-grow: 2;
}
#login_screen .container-box {
    flex-grow: 2;
}

.logged {
    animation: logged 1s 2s forwards;
}

@keyframes logged {
    from {filter: opacity(1);}
    to {filter: opacity(0);}
}

form {
    margin: 5px;
    font-size: 0.6rem;
}

a.register, a.back-login {
    display: block;
    color: orange;
    font-size: 0.85rem;
    font-weight: bold;
    margin: 3px 8px;
}

a.register {
    text-align: right;
}

a.back-login {
    text-align: left;
    color: orange;
}

a.register:active, a.back-login:active {
    color: white;
}

.form_login {
    display: flex;
    flex-flow: column;
}

#login_screen input {
    height: 29px;
    width: 224px;
    padding: 0;
    border: 3px solid  rgb(150,150,150);
    margin: 5px 0;
    background-color: ghostwhite;
    color: black;
}
#login_screen input:focus {
    outline: none;
}
#login_screen input:hover {
    border: 3px solid darkorange;
}
#login_screen input:focus {
    border: 3px solid rgb(122, 192, 17);
}
#login_screen input[type="submit"] {
    height: 35px;
    width: 230px;
    border: 3px solid white;
    padding: 0;
    margin-top: 25px;
    background-color: rgb(50,50,50);
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
}
#login_screen input[type="submit"]:hover {
    background-color: black;
    border: 3px solid orange;
    color: orange;
    cursor: pointer;
}
#login_screen input[type="submit"]:active {
    border: 3px solid yellowgreen;
    color: yellowgreen;
}
::placeholder {
    font-size: 0.7rem;
    text-transform: uppercase;
    text-align: center;
    color: rgb(50,50,50);
}

#login_screen .error {
    background-color: rgb(255, 0, 0,0.7);
    border: 3px solid red;
    color: white;
}
#login_screen .required {
    background-color: lightgoldenrodyellow;
}
.error::placeholder {
    color: white;
}

.text-error {
    color: red;
}

span.text-error {
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
}

.logo {
    height: 200px;
    width: 200px;
    background-image: url(../img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.close-session {
    align-items: flex-end;
    display: flex;
    height: 12vh;
    justify-content: flex-end;
    width: 100%;
}

header {
    height: 12vh;
    background-color: black;
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items: center;
}

header .logo {
    height: 12vh;
    width: 120px;
}

header form input[type="submit"] {
    background-color: red;
    border: 0;
    color: white;
    font-size: 0.6rem;
    padding: 2px 4px;
}

nav {
    height: 5vh;
    background-color: rgb(75, 75, 75);
}

main {
    background-color: rgb(200, 200, 200);
    height: 88vh;
}

.input_logged {
    animation: input_logged 3s forwards;
}

@keyframes input_logged {
    25% {background-color: rgb(0, 200, 0,0.9);}
    50% {background-color: ghostwhite;}
    75% {background-color: rgb(0, 200, 0,0.9);}
    100% {background-color: rgb(0, 200, 0,0.9);}
}

.registered-box {
    background-color: rgba(50, 50, 50, 0.8);
    border: 3px solid   rgba(0, 127, 255);
    border-radius: 10px;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 15px;
    text-align: center;
}

button {
    background-color: rgba(0, 127, 255);
    border: 2px solid black;
    color: white;
    font-size: 0.8rem;
    padding: 8px;
}

button:hover {
    background-color:  rgb(122, 192, 17);
}

button:focus {
    background-color: black;
    border: 2px solid rgb(122, 192, 17);
    color: rgb(122, 192, 17);
    outline: none;
}


/* RESPONSIVE */

@media only screen and (min-width: 550px) {
    header .logo {
        width: 200px;
    }
    .logo {
        width: 250px;
    }
    form, a.register, a.back-login, span.text-error, header form input[type="submit"], ::placeholder, .registered-box,button {
        font-size: 1rem;
    }
}
@media only screen and (min-width: 700px) {
    .logo {
        width: 300px;
    }
    #login_screen input {
        height: 34px;
        width: 244px;
    }
    #login_screen input[type="submit"] {
        height: 40px;
        width: 250px;
    }
}
@media only screen and (min-width: 1000px) {
    
}

@media only screen and (min-width: 1900px) {
    .logo {
        height: 300px;
        width: 450px;
    }
}